<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Gabinet Protetyki - Ewa Padee</title>
  </head>
  <body>
    <main>
      <nav>
        <span>Menu</span>
        <ul>
          <li>Kim jestem</li>
          <li>Kontakt</li>
          <li>Lokalizacja</li>
        </ul>
      </nav>
      <header>
        
      </header>
      <section>

      </section>
      <footer>

      </footer>
    </main>
  </body>
</html>
<router-outlet></router-outlet>
